.searchPage_header {
	display: flex;
	width: 100vw;
	height: 25vh;
	position: sticky;
	border-bottom: 1px solid lightgray;
	padding: 30px;
	align-items: flex-start;
	z-index: 999;
}

.searchPage_header img {
	width: 15vw;
	height: 12vh;
}

.searchPage_headerBody .search .search_input {
	margin-top: 18px;
	width: unset;
	max-width: unset;
	margin-left: 30px;
}

.searchPage_options {
	display: flex;
	align-items: center;
	color: grey;
}
.searchPage_options a,
.optionsRight a {
	text-decoration: none;
	color: grey;
}

.optionsRight,
.optionsLeft {
	display: flex;
	margin-left: 40px;
	margin-top: 30px;
}

.optionsRight {
	margin-left: 80px;
}

.searchPage_option {
	display: flex;
	align-items: center;
	margin-right: 20px;
}

.searchPage_option a {
	margin-left: 5px;
}

.searchPage_result {
	margin: 40px 0;
}

.searchPage_resultCount {
	color: #70757a;
	font-size: 14px;
}

.searchPage_result {
	max-width: 650px;
	margin-top: 20px;
	margin-left: 240px;
	margin-bottom: 100px;
}

.searchPage_resultTitle {
	text-decoration: none;
}

.searchPage_resultTitle:hover {
	text-decoration: underline;
}

.searchPage_resultTitle h2 {
	font-weight: 500;
}

.searchPage_resultSnippet {
	margin-top: 10px;
}
